<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78515627848-7nn797440gt8clmio39mc5cpq1mo0ul5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78515627848-7nn797440gt8clmio39mc5cpq1mo0ul5</string>
	<key>API_KEY</key>
	<string>AIzaSyBt-AITYuG_PH6lZ05i0lS5eSFPY7PDQCI</string>
	<key>GCM_SENDER_ID</key>
	<string>78515627848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minesweeper.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>minesweeper-4ab76</string>
	<key>STORAGE_BUCKET</key>
	<string>minesweeper-4ab76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78515627848:ios:facd1f8020f2b53595357d</string>
</dict>
</plist>